/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");


h1 {
  
  /* margin-left: 150px; */
  text-align: center;
  
}

body {
  padding-top: 10px;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 400px;
  /* text-align: center; */
  background-color: #eae2b7;
  
}

/* Set the font family for any h1, h2, or h3 heading */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

/* Setting boreder for circular image  */
hr {
  border: 1px solid black;
}

/* Setting css to display image as circle */

.image-circle {
  border: 2px solid #003049;
  border-radius:50%;
  
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  
}

a {
  text-decoration: underline;
  margin-right: 40px;
  font-size: 18px;
  color: #d62828;
  font-family: Quattrocento, sans-serif;
}

/* Setting color for anchor hover */
a:hover {
  color: #f77f00;
}

li
{
  text-align: left;
}

footer p{
  text-align: center;
  align-content: center;
}
